{% load range %}

{% if news %}
    <div class="container-fluid">
        {# Card Columns #}
        <div class="card-deck">
            {% for item in news %}                
                {% with forloop.counter0 as index %}
                    {% if index != 0 and index != 1 %}                        
                        {% if index|divisibleby:2 %}
                            <div class="w-100 d-none d-sm-block d-md-none"></div>
                        {% endif %}

                        {% if index|divisibleby:3 %}
                            <div class="w-100 d-none d-md-block d-lg-none"></div>
                        {% endif %}

                        {% if index|divisibleby:4 %}
                            <div class="w-100 d-none d-lg-block d-xl-none"></div>
                        {% endif %}
                        
                        {% if index|divisibleby:5 %}
                            <div class="w-100 d-none d-xl-block"></div>          
                        {% endif %}                 
                    {% endif %}
                {% endwith %}

                {# Card #}
                <div class="card shadow my-5">
                    {# Card Image #}
                    <div class="card-img-block">
                        <img src="{{ item.imageurl }}" class="card-img-top shadow-lg rounded" alt="{{ item.source }}">
                    </div>                                            

                    {# Card Body #}
                    <div class="card-body">
                        <h5 class="card-text text-center mb-3">{{ item.title }}</h5>
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-outline-success">Read More</button>     
                        </div>                                                         
                    </div>
                    
                    {# Card Footer #}
                    <div class="card-footer">
                        <p class="card-text text-center">
                            <small class="text-muted">Posted {{ item.when_added | timesince }} ago</small>
                        </p>
                    </div>
                </div>
                {# End of Card #}
            {% endfor %}            
        </div>
        {# End of Card Columns #}
    </div>
{% endif %}