body {
    padding-top: 68px;
}

/* Banner */
header {
    height: 94vh;
    background: url('/static/img/header-img.jpeg') no-repeat center center /cover;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/* Nav Bar */
.nav-black {
    background-color: black;    
}

/* Cards */
.card-img-block {
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: -25px;
}

.card-container-bg {
    background-color: #63ADF2;
}

.heading {
    color: #304D6D;
}

.underline {
    width: 200px;
    border: 3px solid #4B4237;
    margin: auto;
}

/* Price Table */ 
.bg-grey {
    background-color: #A49694;
}

/* Prices */
.jumbo-img {
    width: 150px;
    height: 150px;
}