{% extends 'base.html' %}

{% block content %}
    <header>
        <!-- Banner -->
        <div class="text-light text-md-right text-center banner">
            <h1 class="display-4 banner-heading">Welcome to Crypto News</h1>
            <p class="lead">Up To The Minute Crypto Currency and Blockchain News</p>
        </div>
        <!-- End of Banner -->
    </header>

    <!-- Price Data -->    
    {% include 'partials/_price_table.html' %}    
    <!-- End of Price Data -->

    <!-- Card Container -->
    {% include 'partials/_news.html' %}
    <!-- End of Card Container -->
{% endblock %}