{% extends 'base.html' %}

{% block content %}
    <!-- Jumbotron -->
    <div class="container-fluid d-inline-flex justify-content-center mt-5 mb-3">    
        <div class="jumbotron w-50 text-center">
            <h1 class="display-4">Welcome to Crypto News</h1>
            <p class="lead">Up To The Minute Crypto Currency and Blockchain News</p>
        </div>
    </div>
    <!-- End of Jumbotron -->

    <!-- Price Data -->
    {% include 'partials/_price_table.html' %}
    <!-- End of Price Data -->

    <!-- Card Container -->
    {% include 'partials/_news.html' %}
    <!-- End of Card Container -->
{% endblock %}